body {
    background-color: #6d6c6c;
    font-family: mono;
    height: 100%;
    margin: 0;
}

.plus1 {
    font-size: larger;
    color: gold;
}

.mainHeading, .subHeading  {
    text-align: center;
}

.tiny {
    font-size: medium;
    color: #98bd2e;
}

.container {
    padding: 50px;
    position: relative;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
}

li {
    list-style: none;
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 1px solid;
    margin: 15px;
    text-align: center;
}

/*add transition effect on hover*/
li:hover {
    transition: all 0.1s;
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
    color: gold;
}

.projectTitle {
    margin-top: 0;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}











.footy {
    background-color: #354488;
    text-align: center;
    padding: 8px;
    position: absolute;
    bottom: 0;
    width: 100%;
}